#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}

#main-title {
  background-color: #eeeeee;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

#img-div {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  margin-bottom: 50px;
}

#image {
  text-align: center;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;}

#img-caption {
  padding: 0px;
  margin: 0px;
  font-size: .75em;
}

#tribute-info {
  grid-area: 3 / 1 / 4 / 2;
}

ul {
  padding: 30px;
}

li {
  padding-bottom: 10px;
}

#tribute-header {
  text-align: center;
}

#tribute-footer  {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#footer {
  grid-area: 4 / 1 / 5 / 2;
  text-align: center;
  background-color: #eeeeee;
  padding: 50px;
}


@media only screen and (min-width: 768px) {
  #main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  #main-title {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
  }

  #title {
        align-self: end;
  }

  #sub-title {
        align-self: start;
  }

  #img-div {
    grid-area: 1 / 2 / 2 / 3;
    padding: 5% 0;
    background-color: #eee;
    align-self: center;
    max-height: 700px;
  }

  #tribute-info {
    grid-area: 2 / 1 / 3 / 3;
  }

  #footer {
    grid-area: 3 / 1 / 4 / 3;
  }
}